{
  "env": {
    "build": {
      "presets": [
        [
          "latest",
          {
            "es2015": {
              "modules": false
            }
          }
        ]
      ],
      "plugins": [
        "external-helpers",
        "transform-object-rest-spread"
      ]
    },
    "test": {
      "presets": [
        "@ava/stage-4",
        "@ava/transform-test-files"
      ]
    }
  }
}